  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Message Board</title>
      <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
      <link href="/static/static.css" rel="stylesheet">
    </head>
    <body class="body">
      
      <h1>Message Board</h1>
      <div id="container">
           <input type="text" id="note" placeholder="Leave a note for Kye">
           <button id="notebtn">Add note</button>
      </div>
      <button id="btn1">test</button>
      <div id="noteslistContainer">
        <ul id="notesList">
          {% for note in notes %}
            <li class="notey">{{ note.text }}</li>
          {% endfor %}
        </ul>
      </div>
     
      <script src="/static/main.js"></script>
    </body>
  </html>